body {
  background-color: #CDC2E0;
  color: #7A7A7A;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

.intro {
  text-align: center;
}

img {
  border: 2px dotted #957EBC;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px dotted #957EBC;
  border-bottom: 3px dotted #957EBC;
  width: 400px;
  height: 50px;
  background-color: rgba(141, 131, 215, 0.2);
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  from {background-color: lavenderblush;}
  to {background-color: rgba(141, 131, 215, 0.2);}
}
