body {
  background-color: #CDC2E0;
  color: #7A7A7A;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
  background-image: ;
}

.name-img {
  text-align: center;
}

img {
  border: 2px dotted #957EBC;
}

.about{
  text-align: center;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px dotted #957EBC;
  border-bottom: 3px dotted #957EBC;
  background-color: rgba(141, 131, 215, 0.2)
}
